.logo {
	text-align: center;
	margin-top: 20px;

}

.kokorozashi {
	display: inline-block;
	width: 90%;
	max-width: 500px;
	font-size: 45px;
	color: white;
	background-color: black;
	padding: 10px;
}

.subtitle {
	display: inline-block;
	width: 90%;
	max-width: 500px;
	font-size: 25px;
	padding: 10px;
	border-color: black;
	border-style: solid;
}

body {
	font-family: 'Bitter', serif;
}

h1{
	margin: 40px;
}