/* Colores */

:root {

	--jet: #333333;
	--davys-grey: #5c5c5c;
	--spanish-gray: #9e9e9e;
	--silver: #c3c3c3;
	--cultured: #f1f0ef;
}


body {
	font-family: 'Bitter', serif;
	background-color: var(--cultured);
	color: var(--jet);
}

.logo {
	text-align: center;
}

.logo > img {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 200px;
	padding: 2%;
	display: block;
}

.subtitle {
	text-align: center;
	display: inline-block;
	width: 90%;
	max-width: 500px;
	font-size: 25px;
	padding: 8px;
}

.k-icon {
	width: 15px;
}

.sn-icon > img {
	width: 25px;
	padding: 5px;
}